<div class="container">
  <p>Filter by keywords!</p>

  <form>
    <mat-form-field class="search" appearance="fill">
      <span class="material-symbols-outlined">search</span>
      <input matInput name="search" [ngModel]="searchQuery" (ngModelChange)="onSearch($event)">
    </mat-form-field>
  </form>
  
  <div class="articles">
    <div *ngFor="let article of filteredArticles" class="article">
      <mat-card (click)="forwardToArticle(article.id)" class="item">
        <img mat-card-image [src]="article.imageUrl">

        <div class="article-info">
          <mat-card-title class="article-title">{{ article.title | cut }}</mat-card-title>
          <mat-card-content class="article-summary">{{ article.summary | cut }}</mat-card-content>
          <mat-card-actions class="article-btn">
            Read more
            <span class="material-symbols-outlined">
              arrow_forward
            </span>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
